body{
	margin: 0;
	min-width: 600px;
}
.box{
	position:relative; 
	left: 0;
	right: 0;
	font-size: 0;
	overflow-x: hidden;
}
.box-img{
	width: 100%;

}
#right-menu{
	position: fixed;
	width: 40px;
	right: 0;
	top: 35%;
	z-index: 10000;
}
.right-menu-btn{
	position: relative;
	height: 40px;
	width: 100%;
}
.romb{
	height: 20px;
	width: 20px;
	background-color: rgba(0,0,0,0.8);
	border: solid #aaa 2px;
	opacity: 1;
	position: absolute;
	transform: translate(-50%,-50%) rotate(45deg);
	top: 50%;
	left: 50%;
	z-index: 1;
	transition-duration: 200ms;
	transition-property: border-color;
}
.h-romb{
	opacity: 0;
	height: 15px;
	width: 15px;
	background-color:#fff;
	position: absolute;
	transform: translate(-50%,-50%) rotate(45deg);
	top: 50%;
	left: 50%;
	z-index: 1;
	transition-duration: 200ms;
	transition-property: opacity;
}
.right-menu-btn-text{
	right: 0;
	font-size: 20px;
	position: absolute;
	right: 100%;
	color: #ff0;
	top: 30%;
	text-shadow: 0 0 10px #901;
	opacity: 0;
	transform: translateX(100%);
	transition-duration: 300ms;
	transition-property: transform,opacity;
}
#right-menu:hover .right-menu-btn-text{
	transform:translateX(0);
	opacity: 1;
}
.right-menu-btn:hover .romb{
	border-color: #fff;
}
.right-menu-btn:hover .h-romb{
	opacity: 1;
}
#top-menu{
	top: 0;
	position: fixed;
	height: 40px;
	left: 80px;
	z-index: 100000;
	
}
#top-menu a{
	text-decoration: none;
}
.top-menu-btn{
	color: #fff;
	text-shadow: 0 0 10px #901;
	height: 30px;
	padding:5px;
	border-left: solid transparent  2px;
	border-right: solid transparent  2px;
	display: inline-block;
	font-size: 25px;
	transition-property: background-color,border-color;
	transition-duration: 200ms;
}
.top-menu-btn:hover{
	background-color: #555;
	border-color: #758;
}
.top-submenu{
	position: absolute;	
	left: 0;
	top: 100%;
	opacity: 0;
	transform: translateY(-100%);
	transition-duration: 400ms;
	transition-property: transform,opacity;
	z-index: -1;
	border:solid #444 2px;
	 
}
.top-submenu-btn{
	color: #0dd;
	height: 30px;
	padding:5px;
	font-size: 25px;
	text-shadow: 0 0 15px #a00;
	transition-duration: 400ms;
	transition-property: background-color;
}
.top-menu-btn:hover .top-submenu{
transform:translateY(0);
	opacity: 1;
	
}
.top-submenu-btn:hover{
	background-color:rgba(32,32,32,0.9);
	color: #591;
}
#ramka{
	position: fixed;
	z-index:1000;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.line{
	position: absolute;
	background-color:#758;
}
#ramka .hor-line{
height: 2px;
left:80px;
right: 80px;
}
#ramka .ver-line{
width: 2px;
top: 80px;
bottom: 80px;
}
#ramka .top-line{
top: 40px;
}
#ramka .left-line{
left:40px;
}
#ramka .right-line{
right: 40px;
}
#ramka .bottom-line{
bottom: 40px;
}
.box-title{
font-size: 16px;
position: absolute;
top: 50%;
transform: translateX(-50%);
}
#box1-title{
	left: 50%;
	transform: translateX(-50%);
	text-align: center;

}
#box1-title p{
	font-size: 40px;
	color:#ff0;
	text-shadow: 3px 3px 5px #f00;
}
.gold-btn{
	height: 40px;
	font-size: 30px;
	color: #000;
	background-color: #aaa;
	background-image: linear-gradient(
		to right,
		
		rgba(91,150,80,0.9),
		rgba(1,57,75,0.8),
		rgba(91,9,80,0.9));
	display: inline-block;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	text-shadow: -1px -1px 0 #957;
	transition-property: background-color;
	transition-duration: 300ms;
	-webkit-clip-path: polygon(
		0% 0%,
		100% 0%,
		100% calc(50% - 7px),
		calc(100% - 7px)50%,
		100% calc(50% + 7px),
		100% 100%,
		0% 100%,

		0% calc(50% + 7px),
		calc(0% + 7px)50%,
		0% calc(50% - 7px)
		);
}
.gold-btn:hover{
	background-color:#ff0;
}
#ramka .img{
	position: absolute;
	height: 80px;

}
#ramka .img-top-left{
left: 0;
top: 0;
}
#ramka .img-top-right{
right: 0;
top: 0;
}
#ramka .img-bottom-left{
left: 0;
bottom: 0;
}
#ramka .img-bottom-right{
right: 0;
bottom: 0;
}
.romb-btn{
	border: solid #984 2px;
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	height: 50px;
	width: 50px;
	transform: rotate(45deg);
	box-shadow: 0 0 25px #000;
}
#box2-title-text .element{
	max-width: 600px;
	box-shadow:0 0 50px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.25);
	border-radius: 20px;
}
#box2-title-text{
position: relative;
left: 0.5%;
}
#box2-title{
transform: translateY(-50%);
left: 42px;
right: 0;
}
#box2-title-text .element b{
	font-size: 30px;
	text-shadow: 0 0 2px #241;
	color: #f00;
}
#box2-title-text .element img{

}
#box2-title-text .element p{
	font-size: 20px;
	text-shadow: 0 0 2px #000;
	color: #00f;
}
#box2-title-gallery{
	position: absolute;
	right: 0;
	background-color: #aaa;
	height: 360px;
	width: 640px;
	border-left: solid #f00 120px;
	border-top-left-radius:70px;
	border-bottom-left-radius:70px;
	transform: translateY(-50%);
	top: 50%;
}
#box2-title-gallery #controls{

}
#controls .joystick{
	position: absolute;
	top: 70px;
	left: -85px;
	height: 50px;
	width: 40px;
	border: double #222 5px;
	border-radius: 45%;
	background-color: #111;
	transition-duration: 500ms;
	transition-property: transform;
}
#controls .joystick:hover{
	transform: rotate(450deg);
	transform: translateX(10px);
}

#controls .buttons{ 
position: absolute;
height: 90px;
width: 90px;
top: 170px;
left: -100px;
}
#controls .button{
	position: absolute;
	height: 18px;
	width: 18px;
	background-color: #111;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	padding: 6px;
	text-align: center;
	box-shadow: 0 0 10px #000;
	transition-property: box-shadow;
	transition-duration: 300ms;
}
#controls .button:hover{
	box-shadow: 0 0 5px #000;
}

#controls  .button-top{
	top: 0;
	left: 30px;
}
#controls  .button-left{
	left: 0;
	top: 30px;
}
#controls  .button-right{
	right: 0;
	bottom: 30px;
}
#controls .button-bottom{
	bottom: 0;
	right:30px;
}
#box3-title{
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 70px;
	width: 512px;
	color: #189;
	text-shadow: 0 0 20px #616;
}
#box3-title h1{
	color:#189;
}
#box3-title hr{
	border-color: #818;
	}
#box3-title table{

}
#box3-title .table-img{
width: 250px;
height: 150px;
}
#box3-title .descr{
position: absolute;
bottom: 5px;
font-size: 20px;
text-align: center;
width: 100%;
color: #f00;
}
#box3-title th{
	position: relative;
	border: double rgba(34,102,102, 0.8) 4px;
	font-size: 0;
}
#box2-title-gallery video{
	height: 100%;
	width: 100%;
}
